@import "tailwindcss";

:root {
  --bg-dark: oklch(0.92 0.035 298);
  --bg: oklch(0.96 0.035 298);
  --bg-light: oklch(1 0.035 298);
  --text: oklch(0.15 0.07 298);
  --text-muted: oklch(0.4 0.07 298);
  --highlight: oklch(1 0.07 298);
  --border: oklch(0.6 0.07 298);
  --border-muted: oklch(0.7 0.07 298);
  --primary: oklch(0.4 0.1 298);
  --secondary: oklch(0.4 0.1 118);
  --danger: oklch(0.5 0.07 30);
  --warning: oklch(0.5 0.07 100);
  --success: oklch(0.5 0.07 160);
  --info: oklch(0.5 0.07 260);
}

body.dark {
  --bg-dark: oklch(0.1 0.035 298);
  --bg: oklch(0.15 0.035 298);
  --bg-light: oklch(0.2 0.035 298);
  --text: oklch(0.96 0.07 298);
  --text-muted: oklch(0.76 0.07 298);
  --highlight: oklch(0.5 0.07 298);
  --border: oklch(0.4 0.07 298);
  --border-muted: oklch(0.3 0.07 298);
  --primary: oklch(0.76 0.1 298);
  --secondary: oklch(0.76 0.1 118);
  --danger: oklch(0.7 0.07 30);
  --warning: oklch(0.7 0.07 100);
  --success: oklch(0.7 0.07 160);
  --info: oklch(0.7 0.07 260);
}

.text-outline {
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black, 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}